
.input-group .form-control{
	position: relative;
	border-radius: 10px !important;
	margin-bottom: 15px  !important;
	margin-top: 10px !important;
	padding: 15px;
	height: 3.5em;
	
}
p{
	margin: 0em 1em 0em 1em;
}


/*--- boton agregar mas campos  ---*/
.add_button{
	width: auto;
	height: 2.7em;
	bottom: auto;
}
.agregar_campos{
	display: inline-flex;
	flex-direction: row;
}


/*ICONO*/
.validacion_estado {
	position: absolute;
	right: 0.5em;
	/*bottom: 8px;*/
	top: 1.2em;
	z-index: 100;
	font-size: 1.5em;
	opacity: 0;
}

.validar{
	position: absolute;
	z-index: 100;
	font-size: 1px;
	opacity: 0;	
}
.datos_empresa{
	background-color: #f9f9f9;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow:  0px 4px 12px 0px;
}

.row{
	margin-right: -25px !important;
    margin-left: -25px !important;
}


.datos_direccion{
	width: 100%;
	background-color: #f9f9f9;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow:  0px 4px 12px 0px;
}
.datos_contenedores{
	width: 100%;
	background-color: #f9f9f9;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow:  0px 4px 12px 0px;
}
legend{
	border-radius: 3px solid rgb(185, 55, 55);
	border-bottom: 0px  !important;
	text-align: center;
	margin-top: 2em;
}
fieldset{
	padding: 15px;
	margin: 10px;
	border: 2px solid #000;
}
.formulario_input-error {
	font-size: 11px;
	margin: -15px 0px 1px 15px;
	display: none;
}

.formulario_input-error-activo {
	display: block;
	margin: -15px 0px 1px 15px;
}

.form_label{
	display: none;
	opacity: 0;
}
.js-hide-label-label {
    opacity: 0; 
    top: 1.5em
}

.grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-success {
	height: 45px;
	line-height: 45px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario_mensaje,
.grupo-btn-enviar {
	grid-column: span 2;
}


.formulario_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-activo {
	display: block;
}

.formulario_mensaje p {
	margin: 0;
}

.formulario_mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario_mensaje-exito-activo {
	display: block;
}

.latitud-longitud {
	width: 50%;
	margin: 10px;
	padding: 0 40px 0 10px;
	display: flex;
	flex-direction:row;
	align-items:center;
}


/* ----- ----- ESTILLOS PARA LA VALIDACION ----- ----- */

/*-------CORRECTO-------*/

.formulario_grupo-correcto .validacion_estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-correcto .form-control {
	border: 3px solid #1ed12d;
}


/*------INCORRECTO-------*/
.formulario_grupo-incorrecto .form_label {
	color: #bb2929;
}

.formulario_grupo-incorrecto .validacion_estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .form-control {
	border: 3px solid #bb2929;
}


/*---------- MODAL -----------*/


.boton{
	width: 50%;
	display: flex;
	justify-content: center;
	height: 50%;
}

.boton_modal{
	margin: 10px;
	padding: 10px;
	text-align: center;
}
